{% extends 'layouts/baselayout.twig' %}

{% block head %}
<link rel="stylesheet" href="/resources/css/homepage.css">
{% endblock %}

{% block content %}
    <div class="container">
        {{ student.first_name }}
    </div>
{% endblock %}